/* ============================= */
/*          Global Styles        */
/* ============================= */
* {
  box-sizing: border-box;
  font-family: "Times New Roman";
}

body {
  margin: 0;
  background-color: #7D0C0E;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ============================= */
/*          Navigation           */
/* ============================= */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7d0c0e;
  padding: 15px 50px;
  height: 110px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0em 1em;
}

.logo img {
  height: 70px;
  width: auto;
  padding: 2px;
  margin-left: 20px;
  border-radius: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #faefe1;
  font-size: 18px;
  text-transform: lowercase;
  transition: 0.3s;
  display: flex;
}

.navbar a.active {
  border-bottom: 2px solid #faefe1;
  padding-bottom: 3px;
}

.loginLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #faefe1;
  border-radius: 20px;
}

.loginLink a {
  font-weight: bold;
  color: #7D0C0E;
  text-decoration: none;
  display: inline-block;
}

.navbar a:not(.active):hover {
  text-decoration: underline;
}

#open-sidebar-btn {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
  background-color: #7D0C0E;
}

#close-sidebar-btn {
  display: none;
  background-color: none;
  border: none;
  padding: 1em;
  cursor: pointer;
  background-color: #FAEDE1;
  border-radius: 15px;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* ============================= */
/*         header section        */
/* ============================= */

.head-text {
  text-align: center;
  font-size: 20px;
  border: 5px solid transparent;
  background-image: url("meow.jpg");
  color: white;
}

#title {
  font-size: 70px;
}

#text {
  font-size: 20px;
  color: white;
}

/* ============================= */
/*          contact section      */
/* ============================= */

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  background-color: #FAEDE1;
  width: 100%;
}

.bgColorAll {
  background-color: #FAEDE1;
}

.containerSpace {
  background-color: #FAEDE1;
  padding: 30px;
}

/*          contact form         */


.contact-form-container {
  background-color: #7d0c0e;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 100%;
  margin-left: 10%;
  margin-top: 5%;
}

.contact-form-container input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #f8eee4;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-elem {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.submit-button {
  background-color: #ac3232;
  font-weight: 100;
  font-size: medium;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  color: white;
}

.submit-button:hover {
  background-color: #BC7070;
}

/*       newsletter form         */

.newsletter-container {
  color: white;
  background-color: #7d0c0e;
  max-width: 50%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 5%;
}

.newsletter-container input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #f8eee4;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

.Subscribe-button {
  background-color: #ac3232;
  color: black;
  font-weight: 100;
  font-size: medium;
  border: none;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  color: white;
}

.Subscribe-button:hover {
  background-color: #BC7070;
}

.newsletter-container h4 {
  text-align: center;
  font-size: 30px;
}

.news-elem {
  margin-bottom: 1rem;
}


.checkbox {
  display: flex;
  align-items: center;
  gap: 2px;
}

.checkbox input[type="checkbox"] {
  width: 16px;
  height: 15px;
  margin-bottom: 10px;
}

.agree {
  font-weight: normal;
}

/* ============================= */
/*          details form         */
/* ============================= */

.details-container {
  justify-content: space-evenly;
  display: flex;
  margin-top: 5%;
  padding: 0 9%;
  background-color: #FAEDE1;
}

.phone-container,
.email-container,
.location-container {
  flex: 1;
  padding: 10px;
  background-color: #7d0c0e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 10px;
}

/* ============================= */
/*          google map           */
/* ============================= */

.google-map {
  display: flex;
  height: 400px;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FAEDE1;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

/* ============================= */
/*          Footer Section       */
/* ============================= */
footer {
  background-color: #7D0C0E;
  padding: 40px;
  text-align: center;
  color: #FAEDE1;
  font-family: "Times New Roman", serif;
  margin-top: 50px;
  height: 80%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 20px;
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
  margin-left: 0;
}

.logofooter img {
  height: 200px;
  width: auto;
  padding: 5px;
  border-radius: 5px;
}

.join a,
.mailing-list p a {
  color: #FAEDE1;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #FAEDE1;
}

.join a:hover,
.mailing-list a:hover {
  color: #F0C5A4;
  border-bottom: 1px solid #F0C5A4;
}

.mailing-list input {
  width: 300px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  color: #7D0D0D;
  background-color: #FAEDE1;
  text-align: center;
}

.mailing-list button {
  background-color: #FAEDE1;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  cursor: pointer;
}

.mailing-list button:hover {
  background-color: #F0C5A4;
}