body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faefe1;
}

h1 {
    color: white;
    margin: 0;
    font-size: 36px; 
}

header {
    background: linear-gradient(90deg, #7d0c0e, #ba6e6f);
    color: white;
    padding: 40px 60px; /* increased padding for a taller header */
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #bb484a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
form {
    background-color: #7D0C0E;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input,
textarea {
    padding: 10px;
    margin: 5px 0;
    border: 4px solid white;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #a45758;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc4548;
}

#eventList {
    margin-top: 30px;
}

.event-item {
    background-color: #7d0c0e;
    color: white;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-item img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.event-item button {
    background-color: #8B181A;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-item button:hover {
    background-color: #BC7070;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #7D0C0E;
    color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #bb484a;
}

.sidebar img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #FAEFE1;
    overflow-y: auto;
}
h2{
    text-align: center;
    font-size: 30px;
}