/* ========================================= */
/*               Global Styles               */
/* ========================================= */
* {
    box-sizing: border-box;
    font-family: "Times New Roman";
}

body {
    margin: 0;
    background-color: #7D0C0E;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ============================= */
/*          Navigation           */
/* ============================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7d0c0e;
    padding: 15px 50px;
    height: 110px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    padding: 0em 1em;
}

.logo img {
    height: 70px;
    width: auto;
    padding: 2px;
    margin-left: 20px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #faefe1;
    font-size: 18px;
    text-transform: lowercase;
    transition: 0.3s;
    display: flex;
}

.navbar a.active {
    border-bottom: 2px solid #faefe1;
    padding-bottom: 3px;
}

.loginLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #faefe1;
    border-radius: 20px;
    
}

.loginLink a {
    font-weight: bold;
    color: #7D0C0E;
    text-decoration: none;
    display: inline-block;
}

.navbar a:not(.active):hover {
    text-decoration: underline;
}

#open-sidebar-btn {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
    background-color: #7D0C0E;
}

#close-sidebar-btn {
    display: none;
    background-color: none;
    border: none;
    padding: 1em;
    cursor: pointer;
    background-color: #FAEDE1;
    border-radius: 15px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}


/* ========================================= */
/*                 Footer                    */
/* ========================================= */

footer {
    background-color: #7D0C0E;
    padding: 40px;
    text-align: center;
    color: #FAEDE1;
    font-family: "Times New Roman", serif;
    margin-top: 50px;
    height: 80%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
}

.footer-left,
.footer-right {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
    margin-left: 0;
}

.logofooter img {
    height: 200px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

.join a,
.mailing-list p a {
    color: #FAEDE1;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #FAEDE1;
}

.join a:hover,
.mailing-list a:hover {
    color: #F0C5A4;
    border-bottom: 1px solid #F0C5A4;
}

.mailing-list input {
    width: 300px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    color: #7D0D0D;
    background-color: #FAEDE1;
    text-align: center;
}

.mailing-list button {
    background-color: #FAEDE1;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
}

.mailing-list button:hover {
    background-color: #F0C5A4;
}

/* ========================================= */
/*         Submission Page Styles            */
/* ========================================= */

/* Container to hold both divs side by side */
.submission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    list-style-type: none;
    margin-top: 30px;
}

.bgColorBack {
    background-color: #FAEDE1;
}

.containerSace {
    padding: 20px;
    background-color: #FAEDE1;
}

/* ======================= */
/*          Form Box       */
/* ======================= */

.box {
    background-color: #7D0C0E;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-right: 2%;
    padding: 2% 20%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(255, 239, 239);
}

.box h2 {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.custom-input {
    width: 90%;
}

/* ======================= */
/*          Form Styling   */
/* ======================= */

#submissionForm {
    width: 90%;
}

/* ======================= */
/*  Submission Guidelines  */
/* ======================= */

.submission {
    width: 60%;
    margin-left: 5%;
}

/* ======================= */
/*      Custom Input       */
/* ======================= */

.custom-input {
    width: 90%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-input label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.custom-input input,
.custom-input textarea {
    width: 400%;
    padding: 10px;
    border: 2px solid #7d0c0e;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: #faefe1;
}

.custom-input input:focus,
.custom-input textarea:focus {
    border-color: #ad3d3f;
}

/* File Upload Styling */
.custom-file {
    width: 90%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    resize: none;
}

.custom-file-upload {
    padding: 12px;
    border-radius: 25px;
    border: 2px solid #7d0c0e;
    font-size: 16px;
    color: #7d0c0e;
    background-color: #faefe1;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
    width: 300%;
    padding: 10px;
    resize: none;
    outline: none;

}

.custom-file-upload:hover {
    border-color: #ad3d3f;
}

span {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
}

/* ======================= */
/*       Submit Button     */
/* ======================= */

.box button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #a52a2a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.box button:hover {
    background-color: #b33c3c;
}

/* ============================= */
/*       Responsive Styles       */
/* ============================= */

/* ====== 320px - 480px (Small Phones) ====== */
@media (max-width: 480px) {}

/* ✅ 481px - 768px (Larger Phones & Tablets)  */
@media (max-width: 768px) {

    /* nav section => side bar */
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: min(15em, 100%);
        height: 100vh;
        justify-content: center;
        border-left: 1px solid rgba(0, 0, 0, 0.132);
        transition: right 0.4s ease-in-out;
    }

    .navbar.show {
        right: 0;
    }

    .navbar.show~#overlay {
        display: block;
    }

    .navbar ul {
        padding: 0em 1em;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 1.5rem;
    }

    .loginLink {
        background: #FAEDE1;
        border-radius: 15px;
        margin-top: 20px;
    }

    .loginLink a {
        color: #7D0C0E;
        font-weight: bold;
    }

    #open-sidebar-btn,
    #close-sidebar-btn {
        display: block;
    }

    /* submission section */

    .submission-container {
        flex-direction: column;
    }

    .box {
        width: 80%;
        margin-right: 2%;
        padding: 2% 30%;
    }

    .custom-input {
        width: 90%;
    }
}

/* ✅ 769px - 1024px (Tablets & Small Laptops) */
@media (max-width: 1024px) {

    .logo {
        display: none;
    }
}