/* ============================= */
/*          Global Styles        */
/* ============================= */
* {
    box-sizing: border-box;
    font-family: "Times New Roman";
}

body {
    margin: 0;
    background-color: #7D0C0E;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ============================= */
/*         Buttons Styles        */
/* ============================= */

.join a,
.mailing-list p a {
    color: #FAEDE1;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #FAEDE1;
}

.join a:hover,
.mailing-list a:hover {
    color: #F0C5A4;
    border-bottom: 1px solid #F0C5A4;
}


/* ============================= */
/*          Navigation           */
/* ============================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7d0c0e;
    padding: 15px 50px;
    height: 110px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    padding: 0em 1em;
}

.logo img {
    height: 70px;
    width: auto;
    padding: 2px;
    margin-left: 20px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #faefe1;
    font-size: 18px;
    text-transform: lowercase;
    transition: 0.3s;
    display: flex;
}

.navbar a.active {
    border-bottom: 2px solid #faefe1;
    padding-bottom: 3px;
}

.loginLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #faefe1;
    border-radius: 20px;
}

.loginLink a {
    font-weight: bold;
    color: #7D0C0E;
    text-decoration: none;
    display: inline-block;
}

.navbar a:not(.active):hover {
    text-decoration: underline;
}

#open-sidebar-btn {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
    background-color: #7D0C0E;
}

#close-sidebar-btn {
    display: none;
    background-color: none;
    border: none;
    padding: 1em;
    cursor: pointer;
    background-color: #FAEDE1;
    border-radius: 15px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* ============================= */
/*          team section         */
/* ============================= */

.teamSection {
    background-color: #FAEDE1;
}

.team-container {
    display: flex;
    height: 200px;
    align-items: stretch;
    justify-content: space-between;

}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.team-card,
.last-row {
    width: 200px;
    background-color: #7D0C0E;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    height: 350px;
}

.team-images {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.quote {
    font-size: 14px;
    font-style: italic;
    color: cornsilk;
    margin-top: 5px;
}

/* ============================= */
/*        membership sec.        */
/* ============================= */

.membership {
    background-color: #6E1313;
    color: #fff;
    text-align: center;
    padding: 40px 30px;
    width: 100%;
}

.membership-links {
    margin-top: 20px;
}

.membership-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

.membership-links a:hover {
    border-color: #fff;
}

.membership-subtext {
    margin-top: 20px;
    font-size: 1rem;
}

.membership-logo {
    margin-top: 20px;
    width: 80px;
}

/* ============================= */
/*          footer Styles        */
/* ============================= */

footer {
    background-color: #7D0C0E;
    padding: 40px;
    text-align: center;
    color: #FAEDE1;
    font-family: "Times New Roman", serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
}

.footer-left,
.footer-right,
.footer-info {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
    margin-left: 0;
}

.logofooter img {
    height: 200px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

/* ============================= */
/*          mailing list         */
/* ============================= */
.mailing-list input {
    width: 300px;
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #7D0D0D;
    background-color: #FAEDE1;
    text-align: center;
}

.mailing-list button {
    background-color: #FAEDE1;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
}

.mailing-list button:hover {
    background-color: #F0C5A4;
}

/* ============================= */
/*          group picture        */
/* ============================= */
.group-pic {
    width: 50%;
    height: 400px;
    margin: auto;
    padding: 10px;
    display: block;
    border-radius: 15%;
}

.caption {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}

/* ============================= */
/*          Global Styles        */
/* ============================= */

h1 {
    font-size: 50px;
    text-align: center;
}

h4 {
    text-align: center;
}

main {
    height: 400px;
}

/* ============================= */
/*       Responsive Styles       */
/* ============================= */

/* ====== 320px - 480px (Small Phones) ====== */
@media (max-width: 480px) {}

/* ✅ 481px - 768px (Larger Phones & Tablets)  */
@media (max-width: 768px) {

    /* nav section => side bar */
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: min(15em, 100%);
        height: 100vh;
        justify-content: center;
        border-left: 1px solid rgba(0, 0, 0, 0.132);
        transition: right 0.4s ease-in-out;
    }

    .navbar.show {
        right: 0;
    }

    .navbar.show~#overlay {
        display: block;
    }

    .navbar ul {
        padding: 0em 1em;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 1.5rem;
    }

    .loginLink {
        background: #FAEDE1;
        border-radius: 15px;
    }

    .loginLink a {
        color: #7D0C0E;
        font-weight: bold;
    }

    #open-sidebar-btn,
    #close-sidebar-btn {
        display: block;
    }

    .logo {
        display: none;
    }

}

/* ✅ 769px - 1024px (Tablets & Small Laptops) */
@media (max-width: 1024px) {


    main {
        height: 1900px;
    }

    /* team section */

    .team-container {
        height: 100%;
        flex-direction: column;
    }

    .group-pic {
        width: 80%;
    }

    .team-card,
    .last-row {
        width: 200px;
        height: 900px;
        margin-bottom: 20px;
    }

    .team-images {
        width: 200px;
        height: 250px;
        object-fit: cover;
    }

    .quote {
        font-size: 12px;

    }

}